
html, body, .capa{
	height: 100%;
	/*overflow: auto;*/
}

body{
	
	background: url('imagens/capa9.png');
	font-family: Helvetica, Arial,sans-serif;
	overflow-x: hidden;
}


/* ------barra de nave-----*/
.img-logo{
height: 40px;
width: 132px;
display: block;
background: url('imagens/line-chart.svg') no-repeat;

background-size: contain;
color: transparent;
}
nav.navbar-transparente{
	padding: 14px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}
.navbar-brand{
	padding: 5px 15px;
}

.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;

}
.navbar-inverse .navbar-nav>li>a , footer .nav a{
	color: white;
}
.navbar-inverse .navbar-nav>li>a:hover,footer .nav a:hover {
	color: #9bf0e1;
	background: none;

}
/*-- Corpo da página--*/
.capa{
	display: table;
	width: 100%;
}
.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}
/*-- Configurando Botões--*/
.btn-custom{
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35;
	margin: 0px 15px;
	text-transform: uppercase;
	transition: background 0.4s, color 0.4s;

}

.btn-verde{
	background: #215D4B;
}
.btn-verde:hover{
	background: #092B21;
	color: white;

}

.btn-azul{
	border:2px solid white;
}
.btn-azul:hover{
	background-color: white; 
	color: black;
}
/*-- Área de Serviço--*/
#servico{
	background: white;
	padding-top: 20px;
	padding-bottom: 20px;
}
.albuns{
	padding: 10px 0px 10px 0px;
}

/*-- Área de recursos--*/
#recursos{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #00FF80;
}
.rotacionar{
	-ms-transform: rotate(30deg)/*-- IE9*/ ;
	-webkit-transform: rotate(30deg) /*--chrome safare opera --*/;
	transform: rotate(30deg);
	padding: 80px;
}
/*-- Formatação do rodape--*/
footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}
/*-- Posicionamento da imagens das redes sociais--*/
.item-rede-social{
	float: left;

}


/*-- Formatação H1 do corpo da página--*/
h1{
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -6px;
	margin-bottom: 50px; 
}
/*-- 
/*-- Formatação de tela com media queries

/*-- Formatação de tamanho de tela xs < 768--
@media screen and (max-width: 767px){
	h1{
		font-size: 50px;
	}
	.btn-custom{
		margin: 10px 15px;
	}

/*-- Formatação de tamanho de tela sm-
}
@media screen and(min-width: 768px){
	h1{
		font-size: 70px;
	}
}
/*-- Formatação de tamanho de tela md-
@media screen and(min-width: 992px){
	h1{
		font-size: 80px;
	}
}
/*-- Formatação de tamanho de tela lg-
@media screen and(min-width: 1200px){
	h1{
		font-size: 100px;
	}
}

*/
h2{
	font-size: 50px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h2{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 35px;
	font-weight: 700;
	letter-spacing: -0.04em;
}

#rodape h4{
	color: #A4A4A4;
	font-size: 12px;
	text-transform: uppercase;

}
#servico h2, #servico h3{
	color: #0174DF;
}

#recursos h3{
	color: #A4A4A4;
}
